venv/
__pycache__/
.env
.idea/

SchemaCollaboration/db.sqlite3
SchemaCollaboration/data/

# For runtime and where Django collects the static files
# (see settings.STATIC_ROOT). For saving the static files use
# the app/static
SchemaCollaboration/static

SchemaCollaboration/.coverage
SchemaCollaboration/coverage.xml
