asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
coverage==5.2.1
coveralls==2.1.2
Django==3.1
docopt==0.6.2
idna==2.10
mysqlclient==2.0.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
sqlparse==0.3.1
urllib3==1.25.10
