{% extends 'core/_base.html' %}
{% load static %}

{% block body_class %}{% endblock %}
{% block body_contents %}
    <div class="row">
        <nav class="col-1 bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if sidebar_active == 'datapackages' %}active{% endif %}"
                           style="padding-left: 0" href="{% url 'management:list-schemas' %}">Datapackages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if sidebar_active == 'people' %}active{% endif %}" style="padding-left: 0"
                           href="{% url 'management:list-people' %}">People</a>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li>{{ user }}<br>
                        <a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-11">
            <br>
            {% include 'core/_breadcrumb.tmpl' %}
            {% include 'core/_messages-box.html' %}
            {% block main_contents %}{% endblock %}
        </main>
    </div>
{% endblock %}
