{% extends 'management/_base_with_sidebar.html' %}
{% load crispy_forms_tags %}

{#TODO: this can be merged with core/datapackage-detail.html... unless some time soon they diverge too much?#}
{#Awaiting for feedback.#}

{% block title %}Datapackage detail{% endblock %}
{% block main_contents %}
    <h1>Datapackage detail</h1>
    <strong>Name:</strong> {% include 'core/_value-or-dash.tmpl' with value=datapackage.name only %}<br>
    <strong>Status</strong>: {{ datapackage.status }}<br>
    <strong>Collaborators: </strong> {{ datapackage.collaborators_str }}
    <p></p>
    <strong>Created on:</strong> {% include 'core/_value-or-dash.tmpl' with value=datapackage.created_on only %}<br>
    <strong>Modified on:</strong> {% include 'core/_value-or-dash.tmpl' with value=datapackage.modified_on only %}<br>
    <p></p>
    <div class="alert alert-warning" role="alert">
        For now: after clicking on an <span class="btn btn-primary btn-sm">Edit</span> button click on "Load from
        the server" in the Data Package creator
    </div>
    <a href="{% url 'management:datapackage-update' uuid=datapackage.uuid %}" class="btn btn-primary">Edit Manage</a>
    <a class="btn btn-primary" href="{% url 'datapackage-ui' %}?load={{ datapackage.uuid }}">Edit</a>
    {% include 'core/_download-schema-button.html' with uuid=datapackage.uuid only %}
    {% include 'core/_download-schema-button.html' with uuid=datapackage.uuid only %}
    {% include 'core/_download-schema-button.html' with uuid=datapackage.uuid only %}
    <hr>
    <h1>Comments</h1>
    {% include 'comments/_list_comments.tmpl' with comments=comments show_private_field=show_private_field only %}
    <p></p>

    <strong>New comment</strong>
    {% crispy comment_form %}
{% endblock %}
