{% extends 'management/_base_with_sidebar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{#TODO: this can be merged with core/datapackage-detail.html... unless some time soon they diverge too much?#}
{#Awaiting for feedback.#}

{% block title %}Datapackage detail{% endblock %}
{% block main_contents %}
    <h1>Datapackage detail</h1>
    <strong>Name:</strong> {% include 'core/_value-or-dash.html' with value=datapackage.name only %}<br>
    <strong>Status:</strong> {{ datapackage.status }}<br>
    <strong>Collaborators: </strong>
    {% include 'management/_collaborators-enumeration.html' with collaborators=datapackage.collaborators_sorted only %}
    <p></p>
    <strong>Created on:</strong> {% include 'core/_datetime-or-dash.html' with datetime=datapackage.created_on only %}
    <br>
    <strong>Modified on:</strong> {% include 'core/_datetime-or-dash.html' with datetime=datapackage.modified_on only %}
    <br>
    <p></p>

    <a class="btn btn-primary" href="{% url 'datapackage-ui' %}?load={{ datapackage.uuid }}">Edit Datapackage <img
            alt="Logo of Frictionless" height=25 src="{% static 'images/data-package-logo.png' %}"></a>
    <a href="{% url 'management:datapackage-update' uuid=datapackage.uuid %}" class="btn btn-primary">Edit Manage</a>
    <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button"
           id="dropDownMenuLinkOptions-{{ schema.uuid }}" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Collaborator View</a>

        <div class="dropdown-menu" aria-labelledby="dropDownMenuCollaboratorOptions">
            <a target="_blank" class="dropdown-item" href="{% url 'datapackage-detail' uuid=datapackage.uuid %}">Preview <i class="fas fa-external-link-alt"></i></a>
            {% include 'core/_clipboard-button.html' with class="dropdown-item" url=datapackage.collaborator_view_link id='copy_view_link' button_text='Copy Link <i class="far fa-clipboard"></i>' only %}
        </div>
    </div>

    {% include 'core/_download-schema-buttons.html' with uuid=datapackage.uuid only %}
    <hr>
    <h1>Comments</h1>
    {% include 'comments/_list_comments.tmpl' with comments=comments show_private_field=show_private_field only %}
    <p></p>

    <strong>New comment</strong>
    {% crispy comment_form %}
{% endblock %}
