{% extends 'management/_base_with_sidebar.html' %}
{% load crispy_forms_tags %}

{% block title %}Datapackage{% endblock %}
{% block main_contents %}
    <h1>Datapackage</h1>
    Name<br>
    <div class="row">
        <div class="col-6">
            <div class="border">{{ datapackage.name }}</div>
            <small class="form-text text-muted">If you want to change the name, please edit the data package using Data Package Creator</small>
        </div>
    </div>
    <br>
    {% crispy form %}
{% endblock %}