{% extends 'management/_base_with_sidebar.html' %}
{% load static %}

{% block title %}List of collaborators{% endblock %}
{% block main_contents %}
    <h1>List of collaborators</h1>
    <table id="collaborator-table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for collaborator in collaborators %}
            <tr>
                <td>{{ collaborator.full_name }}</td>
                <td>
                    <a href="{% url 'management:collaborator-detail' pk=collaborator.id %}" class="btn btn-primary btn-sm">View</a>
                    <a href="{% url 'management:collaborator-update' pk=collaborator.id %}" class="btn btn-primary btn-sm">Edit</a>
                    &nbsp;
                    <a target="_blank" href="{{ collaborator.list_datapackages_url }}" class="btn btn-primary btn-sm">List Datapackages <i class="fas fa-external-link-alt"></i></a>
                    {% include 'core/_clipboard-button.html' with url=collaborator.list_datapackages_url id='copy_edit_link' button_text='Copy List Datapackages <i class="far fa-clipboard"></i>' only %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#collaborator-table').DataTable({
                searchHighlight: true,
                order: [[0, "asc"]],
                language: {
                    zeroRecords: "No collaborators have been created. <a href=\"{% url 'management:collaborator-add' %}\">Create a Collaborator</a>"
                },
                pageLength: 50,
            });
        });
    </script>
    <hr>
    <a href="{% url 'management:collaborator-add' %}" class="btn btn-primary">Create a Collaborator</a>
{% endblock %}