{% extends 'management/_base_with_sidebar.html' %}

{% block title %}List of datapackages{% endblock %}
{% block main_contents %}
    <h1>Person detail</h1>
    <strong>Name:</strong> {{ person.full_name }}

    <p></p>
    <strong>Created on:</strong> {% include 'core/_value-or-dash.tmpl' with value=person.created_on only %}<br>
    <strong>Modified on:</strong> {% include 'core/_value-or-dash.tmpl' with value=person.modified_on only %}<br>

    <a href="{% url 'management:person-update' pk=person.id %}" class="btn btn-primary">Edit</a>
{% endblock %}