{% extends 'management/_base_with_sidebar.html' %}

{% block title %}Collaborator detail{% endblock %}
{% block main_contents %}
    <h1>Collaborator detail</h1>
    <strong>Name:</strong> {% include 'core/_value-or-dash.tmpl' with value=collaborator.full_name only %}
    <p></p>

    <strong>Created on:</strong> {% include 'core/_value-or-dash.tmpl' with value=collaborator.created_on only %}<br>
    <strong>Modified on:</strong> {% include 'core/_value-or-dash.tmpl' with value=collaborator.modified_on only %}<br>
    <p></p>

    <a href="{% url 'management:collaborator-update' pk=collaborator.id %}" class="btn btn-primary">Edit</a>
    <a href="{{ collaborator.list_datapackages_url }}" class="btn btn-primary">List Datapackages</a>
    {% include 'core/_clipboard-button.html' with class="btn btn-primary" url=collaborator.list_datapackages_url id='copy_edit_link' button_text='Copy List Datapackages' only %}
{% endblock %}