{% extends 'management/_base_with_sidebar.html' %}
{% load static %}

{% block title %}List of datapackages{% endblock %}
{% block main_contents %}
    <h1>List of datapackages</h1>

    <table id="schema-table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Name</th>
            <th>Collaborators</th>
            <th>Status</th>
            <th>Created on</th>
            <th>Modified on</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for schema in schemas %}
            <tr>
                <td>{% include 'core/_value-or-dash.html' with value=schema.name only %}</td>
                <td>{% include 'core/_value-or-dash.html' with value=schema.collaborators_str only %}</td>
                <td>{% include 'core/_value-or-dash.html' with value=schema.status only %}</td>
                <td data-sort="{{ schema.created_on|date:"Y-m-d H:i:s" }}">{% include 'core/_datetime-or-dash.html' with datetime=schema.created_on only %}</td>
                <td data-sort="{{ schema.modified_on|date:"Y-m-d H:i:s" }}">{% include 'core/_datetime-or-dash.html' with datetime=schema.modified_on %}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button"
                           id="dropDownMenuLinkOptions-{{ schema.uuid }}" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Options</a>

                        <div class="dropdown-menu" aria-labelledby="dropDownMenuLinkOptions-{{ schema.uuid }}">
                            <a href="{{ schema.edit_link }}" class="dropdown-item">Edit Datapackage</a>
                            <a href="{% url 'management:datapackage-detail' uuid=schema.uuid %}"
                               class="dropdown-item">Manage Datapackage</a>
                            <a href="{% url 'datapackage-detail' uuid=schema.uuid %}"
                               class="dropdown-item">Collaborator View</a>
                            {% include 'core/_clipboard-button.html' with class="dropdown-item" url=schema.collaborator_view_link id='copy_view_link' button_text='Copy View Link' only %}
                        </div>
                    </div>

                    {% include 'core/_download-schema-buttons.html' with uuid=schema.uuid extra_classes='btn-sm' only %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#schema-table').DataTable({
                searchHighlight: true,
                order: [[4, "desc"]],
                language: {
                    zeroRecords: "No schemas have been created. <a href=\"{% url 'management:datapackage-create' %}\">Create a Datapackage</a>"
                },
                pageLength: 50,
            });
        });
    </script>
    <hr>
    <a href="{% url 'management:datapackage-create' %}" class="btn btn-primary">Create a Datapackage</a>
    <p></p>
{% endblock %}