{% for comment in comments %}
    <div class="row">
        <div class="col-6">
            {% include 'comments/_comment.html' with comment=comment %}
            <br>
        </div>
    </div>
{% empty %}
    Currently there are no comments in this datapackage.
{% endfor %}
