{% load static %}

<button id="{{ id }}" class="{% if class %}{{ class }}{% else %}btn btn-primary btn-sm{% endif %}"
        data-clipboard-text="{{ url }}">{{ button_text }}</button>

<script>
    function setTooltip(button, message) {
        $(button).tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }

    function hideTooltip(button) {
        setTimeout(function () {
            $(button).tooltip('hide');
            $(button).attr('data-original-title', '');
        }, 1000);
    }

    if (!window.ClipboardJS) {
        alert('Please load ClipboardJS before trying to use it');
    }

    var clipboardJS = new ClipboardJS('#{{ id }}');

    clipboardJS.on('success', function (e) {
        setTooltip(e.trigger, 'Copied!');
        hideTooltip(e.trigger);
    });
</script>
