<div class="btn-group">
    <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
       data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Download
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'api-datapackage' uuid=uuid %}?dl=1">Schema</a>
        <a class="dropdown-item" href="{% url 'api-datapackage-markdown'  uuid=uuid %}">Markdown</a>
        <a class="dropdown-item" href="{% url 'api-datapackage-pdf'  uuid=uuid %}">PDF</a>
    </div>
</div>