{% extends 'core/_base-centered.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Datapackage detail{% endblock %}
{% block main %}
    <h1>Datapackage detail</h1>
    <strong>Name:</strong> {% include 'core/_value-or-dash.tmpl' with value=datapackage.name only %}<br>
    <strong>Status</strong>: {{ datapackage.status }}<br>
    <strong>Collaborators: </strong> {{ datapackage.collaborators_str }}
    <p></p>
    <strong>Created on:</strong> {{  datapackage.created_on }}<br>
    <strong>Modified on:</strong> {{ datapackage.modified_on }}<br>
    <p></p>
    Please read the comments below and then click on "Edit" to enter the data.
    <p></p>

    <a class="btn btn-primary" href="{{ datapackage.edit_link }}">Edit</a>
    {% include 'core/_download-schema-buttons.html' with uuid=datapackage.uuid only %}
    <hr>
    <h1>Comments</h1>
    {% include 'comments/_list_comments.tmpl' with comments=comments show_private_field=show_private_field only %}

    <strong>New comment</strong>
    {% crispy comment_form %}
{% endblock %}