{% extends 'core/_base-centered.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}List of datapackages{% endblock %}
{% block main %}
    <h1>Datapackage detail</h1>
    <strong>Name:</strong> {{ datapackage.name }}<br>
    <strong>Created on:</strong> {{ datapackage.created_on }}<br>
    <strong>Modified on:</strong> {{ datapackage.modified_on }}<br>
    <p></p>
    <a class="btn btn-primary" href="{% url 'datapackage-ui' %}?load={{ datapackage.uuid }}">Edit</a>
    <hr>
    <h1>Comments</h1>
    {% include 'comments/_list_comments.tmpl' with comments=datapackage.comment_set.all %}

    <strong>New comment</strong>
    {% crispy comment_form %}

    {#    <div class="border p-1 bg-white rounded">#}
    {#        <pre>{{ datapackage.schema }}</pre>#}
    {#    </div>#}
{% endblock %}