{% extends 'core/_base-centered.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Datapackage detail{% endblock %}
{% block main %}
    <h1>Datapackage detail</h1>
    <strong>Name:</strong> {{ datapackage.name }}<br>
    <strong>Created on:</strong> {{ datapackage.created_on }}<br>
    <strong>Modified on:</strong> {{ datapackage.modified_on }}<br>
    <p></p>
    Please read the comments below and then click on "Edit" to enter the data.
    <p></p>
    <div class="alert alert-warning" role="alert">
        For now: after clicking on an <span class="btn btn-primary btn-sm">Edit</span> button click on "Load from
        the server" in the Data Package creator
    </div>
    <a class="btn btn-primary" href="{% url 'datapackage-ui' %}?load={{ datapackage.uuid }}">Edit</a>
    <hr>
    <h1>Comments</h1>
    {% include 'comments/_list_comments.tmpl' with comments=comments show_private_field=show_private_field only %}

    <strong>New comment</strong>
    {% crispy comment_form %}
{% endblock %}