{% extends 'core/_base-centered.html' %}
{% load static %}

{% block title %}List of datapackages{% endblock %}
{% block main %}
    <h1>List of datapackages for {{ collaborator.full_name }}</h1>
    <style>
        /** The buttons "Edit" and "View" in the Actions column should always be in the same line */
        #schema-table td:nth-child(6) {
            white-space: nowrap;
        }
    </style>

    <table id="schema-table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Name</th>
            <th>Collaborators</th>
            <th>Status</th>
            <th>Created on</th>
            <th>Modified on</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for schema in schemas %}
            <tr>
                <td>{{ schema.name }}</td>
                <td>{{ schema.collaborators_excluding_self_str }}</td>
                <td>{% include 'core/_value-or-dash.html' with value=schema.status only %}</td>
                <td data-sort="{{ schema.created_on|date:"Y-m-d H:i:s" }}">{% include 'core/_datetime-or-dash.html' with datetime=schema.created_on only %}</td>
                <td data-sort="{{ schema.modified_on|date:"Y-m-d H:i:s" }}">{% include 'core/_datetime-or-dash.html' with datetime=schema.modified_on only %}</td>
                <td>
                    <a href="{% url 'datapackage-detail'  uuid=schema.uuid %}" class="btn btn-primary btn-sm">View</a>
                    {% include 'core/_download-schema-buttons.html' with uuid=schema.uuid extra_classes='btn-sm' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#schema-table').DataTable({
                searchHighlight: true,
                order: [[1, "desc"]],
                language: {
                    emptyTable: "No datapackages have been created. Please contact the data manager.",
                    zeroRecords: "No matching datapackages.",
                    info: "Showing _START_ to _END_ of _TOTAL_ datapackages",
                    infoEmpty: "Showing 0 datapackages",
                    infoFiltered: "(filtered from _MAX_ datapackages)",
                },
                pageLength: 50,
            });
        });
    </script>
{% endblock %}