{% extends 'core/_base-centered.html' %}
{% load static %}
{% load includestatic %}

{% block title %}Schema collaboration{% endblock %}
{% block main %}
    <h1>Welcome to schema-collaboration</h1>
    <p>
        This is a <strong>test server</strong> for the project
        <a href="https://github.com/frictionlessdata/schema-collaboration/">schema-collaboration</a>.
    </p>
    <p>
        This server might be inaccessible when deploying and testing, data might be deleted at any time. If you would
        like more information join <a href="https://discord.com/channels/695635777199145130/695635777199145133">Frictionless
        Data Discord</a> and contact me (Carles)
    </p>
    <h1>What can you do?</h1>
    <ul>
        <li><a href="{% url 'schema-list' %}">List the schemas</a> saved in the server or click some of them to see the
            details
        </li>
        <li>Create a new schema using <a href="{% url 'datapackage-ui' %}">datapackage-ui</a> and clicking
            "Save to Server". Then check your new schema <a href="{% url 'schema-list' %}">in the list</a>.
        </li>
        <li><a href="{% url 'login' %}">Data manager login</a></li>
    </ul>
    <hr>
    <p>
        This test server uses <a href="https://eu.pythonanywhere.com/">Python Anywhere</a> free Beginner Account.
    </p>
    Current deployed version: {% includestatic 'git_version.txt' %}
{% endblock %}