{% extends 'core/_base-centered.html' %}
{% load static %}

{% block title %}List of schemas{% endblock %}
{% block main %}
    <h1>List of schemas</h1>
    <table id="schema-table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Created on</th>
            <th>Modified on</th>
            <th>UUID</th>
        </tr>
        </thead>
        <tbody>
        {% for schema in schemas %}
            <tr>
                <td>?</td>
                <td>?</td>
                <td><a href="{% url 'schema-detail'  uuid=schema.uuid %}">{{ schema.uuid }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#schema-table').DataTable({
                searchHighlight: true,
                language: {
                    zeroRecords: "No schemas have been created. <a href=\"{% url 'datapackage-ui' %}\">Create a schema</a>"
                },

            });
        });
    </script>

{% endblock %}