{% extends 'core/_base-centered.html' %}
{% load static %}

{% block title %}List of schemas{% endblock %}
{% block main %}
    <h1>List of schemas</h1>
    <table id="schema-table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Created on</th>
            <th>Modified on</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for schema in schemas %}
            <tr>
                <td>{{ schema.created_on }}</td>
                <td>{{ schema.modified_on }}</td>
                <td>
                    <a href="{% url 'schema-detail'  uuid=schema.uuid %}" class="btn btn-primary btn-sm active">View</a>
                    <a href="{% url 'datapackage-ui' %}?load={{ schema.uuid }}" class="btn btn-primary btn-sm active">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#schema-table').DataTable({
                searchHighlight: true,
                order: [[0, "desc"]],
                language: {
                    zeroRecords: "No schemas have been created. <a href=\"{% url 'datapackage-ui' %}\">Create a schema</a>"
                },

            });
        });
    </script>
    <hr>
    <a href="{% url 'datapackage-ui' %}" class="btn btn-primary btn-sm active">Create a new schema</a>
{% endblock %}